# Configuración del Servidor
PORT=3011
NODE_ENV=development

# Secretos JWT
JWT_SECRET=tu_secreto_jwt_de_al_menos_32_caracteres
JWT_REFRESH_SECRET=tu_secreto_refresh_jwt_de_al_menos_32_caracteres

# Base de Datos
DATABASE_URL=file:./dev.db
